 .container-fluid{
     padding-bottom:10%; 
     box-align:center;
     text-align: center;
     /* box-shadow: 0.2ch solid grey; */
     color:red;
     
     
 }
 .quote{
     float:right;
 }
 .body{
    float:right;
}